/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: static;
    width: 100%;
    border: solid 1px gray;
    padding: 1rem;
}

.navbar h1 {
    display: inline-block;
    width: 50%;
    font-size: 20px;
}

.navbar button {
    display: inline-block;
    width: 25%;
    padding-right: 2px;
    font-size: 18px;
    background-color: white;
    border: white;
}

.secondbar{
    position: static;
    width: 100%;
    padding: 1rem;
    background-color:rgb(238, 232, 232);  
}

.secondbar .search{
    display: inline-block;
    width: 50%;
    font-size: 20px;
}

.secondbar input{
    background-color: white;
    padding: 1rem;
    border-radius: 5px ;
    border: 1px lightgrey;
}
.secondbar .filter {
    display: inline-block;
    width: 25%;
    padding-right: 2px;
    font-size: 18px;
    background-color: white;
    border-radius: 5px ;
}

.secondbar select {
    display: inline-block;
    width: 100%; 
    font-size: 18px;
    background-color: white;
    padding: 1rem;
    border-radius: 5px ;
    border: 1px lightgrey;
    box-shadow: 2px black;
    font-size: 0.8rem;
    color: gray;
}
/* 
.countries {
    position: static;
    width: 100%;
    
    padding: 1rem;
    background-color:rgb(238, 232, 232);  
}

.countries li {
    display: inline-block;
    position: static;
    width: 25%;
    border: solid 1px;
    border-radius: 5px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;   
}

.countries img {
    position: static;
    width: 100%;
    border: solid 1px black;
}

.countries .text {
    padding: 1rem;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
}

.countries h2 {
    padding: 0.5rem;
}

.countries h3 {
    padding: 0.2rem;
} */ 

.countries li {
    list-style-type: none;   
}

.countries {
    position: static;
    width: 100%; 
    padding: 1rem;
    background-color:rgba(119, 119, 119, 0.158);  
}

